<div layout="row" layout-align="center center" >

<md-content layout-padding="layout-padding"> 
	<md-card style="width:350px;height:600px">
		<md-content-card class="md-padding" layout-xs="column" layout="row">

			<div flex-xs flex-gt-xs="50" layout="column" layout-align="center" style="width:225px">
				<md-input-container> 
								     		
						<label>email</label>
						<input ng-model="user.email" required ><br>
							  
				</md-input-container><br>
				<md-button class="md-raised" type="submit" ng-click="forgotPassword()"> submit </md-button>
			</div>
			
		</md-content-card> 
	</md-card> 
</md-content>
</div>				