<div>
	<top-nav-bar></top-nav-bar>
</div>
<br>
<div>
	<side-nav-bar></side-nav-bar>

</div>
<br>
<br>

 <div>
  <md-content>
    <div flex="45">
      <md-card  >
        <md-card-title >
          <md-card-title-text>
           <div>
            	<div contenteditable="true"  ng-bind-html="note.title" ng-show="displayDiv" id="noteTitle" placeholder="Title" style="width:250px;border:0px;outline:0px"></div>
            </div>
            <br>
            <div>
            	<div contenteditable="true"  ng-bind-html="note.content" ng-show="true" id="noteBody"  placeholder="Take a note..." ng-click="show()" style="width:500px;border:0px;outline:0px"></div>
            </div>
           
          </md-card-title-text>
        </md-card-title>
        <md-card-actions>
	       	 <p ng-show="displayDiv">
	       			 <md-buttton > <md-icon md-svg-icon="images/icons/share.svg"></md-icon> </md-buttton>
					        <md-buttton><md-icon md-svg-icon="images/icons/addImage.svg"></md-icon></md-buttton>
					        <md-buttton> <md-icon md-svg-icon="images/icons/archive.svg"></md-icon> </md-buttton>
       					        <md-buttton><md-icon md-svg-icon="images/icons/more.svg"></md-icon> </md-buttton>
					        <md-buttton><md-icon md-svg-icon="images/icons/more.svg"></md-icon> </md-buttton>
				          	<md-button  class="md-raised" ng-click="addNote()" style="width:30px">Done</md-button>
	          </p>
        </md-card-actions>
      </md-card>
   </div>
	</md-content>
</div>
	
</div>
<div>       
        <div  layout="row" layout-wrap flex id="sortable">
        
           <div ng-repeat="note in notes | filter:{trash:false}" flex="{{ notesView==='list' ? 90 : 30}}">
		<md-card flex ng-mouseover="x=true" ng-mouseleave="x=false">

		<md-card-title style="background-color:weight"> <md-card-title-text>
		<div></div>
		<div class="md-headline" ng-bind="note.title" style="width:250px;"></div> 
		<div class="md-subhead" ng-bind="note.content" style="width:500px;"></div> 
			<md-card-actions>	       	 
	       		 <md-buttton > <md-icon md-svg-icon="images/icons/share.svg"></md-icon> </md-buttton>
					        
			     <md-buttton> <md-icon md-svg-icon="images/icons/addImage.svg"></md-icon></md-buttton>
				 <md-buttton> <md-icon md-svg-icon="images/icons/archive.svg"></md-icon> </md-buttton>
					        
				 <md-menu md-offset="0 -7">
          						
          			<md-button  class="md-icon-button" ng-click="$mdMenu.open($event)" >
          			
          				 <md-icon md-svg-icon="images/icons/more.svg"> </md-icon>
								
					</md-button>
         						
         			<md-menu-content>
           					    	
           				<md-menu-item >
            			 	
            			 	<md-button ng-click="deleteNote(note)"> Delete note  </md-button><br>
   
            			</md-menu-item>
           			  
           			    <md-menu-item >
         					
         					<md-button> Add label </md-button>
         						
         				</md-menu-item>
         		     </md-menu-content>
       						
       			 </md-menu>
<!-- 				          	<md-button  class="md-raised" ng style="width:30px">Done</md-button>
 -->	
        </md-card-actions>
			</md-card-title-text> </md-card-title> </md-card>
	</div>
           </div>
</div>