<div>
	<top-nav-bar></top-nav-bar>
</div>
<br>
<div>
	<side-nav-bar></side-nav-bar>

</div>
<br>
<br>
<!-- ------------------------------------------createNote---------------------------->

   <div flex="40" layout="row">
      <md-card  class="card">
        <md-card-title >
          <md-card-title-text>
           <div>
            	<div contenteditable="true"  ng-bind-html="note.title" ng-show="displayDiv" id="noteTitle" placeholder="Title" style="width:250px;border:0px;outline:0px"></div>
            </div>
            <br>
            <div>
            	<div contenteditable="true"  ng-bind-html="note.content" ng-show="true" id="noteBody"  placeholder="Take a note..." ng-click="show()" style="width:500px;border:0px;outline:0px"></div>
            </div>
           
          </md-card-title-text>
        </md-card-title>
        <md-card-actions>
	       	 <p ng-show="displayDiv">
<!-- 	       			 <md-buttton > <md-icon md-svg-icon="images/icons/share.svg"></md-icon> </md-buttton>
 -->					      
  <md-menu>
	       			 <md-button style="min-width:25px;padding:5px"  ng-click="$mdMenu.open($event)">
<!-- 	       				<img src="images/icons/reminder.svg" >
 -->	       				<md-icon md-svg-icon="images/icons/reminder.svg"></md-icon>
	       					<md-tooltip md-direction="bottom">reminder</md-tooltip>
	       			</md-button>
			             <!-- <md-menu-content>
			                <md-menu-item>
			                  <md-button ng-click="">Later Today 20:00</md-button>
			                </md-menu-item>
			                <md-menu-item>
			                  <md-button ng-click="">Tomorrow 8:00</md-button>
			                </md-menu-item>
			                <md-menu-item> -->
			                <md-menu-content>
			                <button class="md-raised md-primary md-button md-ink-ripple" type="button"=""
							ng-click="displayDialog(note)">Display Picker</button>
			              </md-menu-content>
			             <!--    </md-menu-item>
			              </md-menu-content> -->
			       </md-menu>
			       <md-button style="min-width:25px;padding:5px">
		       				<md-icon md-svg-src="images/icons/share.svg" ng-click="" style="width:21px"></md-icon>
							<md-tooltip md-direction="bottom">share</md-tooltip>
							
	        	   </md-button>
   				   <md-buttton>
   				   		<md-icon md-svg-icon="images/icons/addImage.svg"></md-icon>
   				   		<md-tooltip md-direction="bottom">Add Image</md-tooltip>
   				   		
   				   </md-buttton>
<!-- 					        <md-buttton> <md-icon md-svg-icon="images/icons/archive.svg"></md-icon> </md-buttton>
 -->			   <color-picker  style="border:none;display:inline-block;vertical-align:middle; padding:5px" value ="cardColor" color="color" options="colors" on-color-changed="noteColor(newColor, oldColor)"></color-picker>	 
					   
			   	   <md-button style="min-width:25px;padding:5px" ng-click="archiveNote(note,true)">
	        			
	        			<md-icon md-svg-src="images/icons/archive.svg" aria-lable="archive note"></md-icon>
	        			<md-tooltip md-direction="bottom"> archive </md-tooltip>
	        			
	        		</md-button>
<!--        					        <md-buttton><md-icon md-svg-icon="images/icons/more.svg"></md-icon> </md-buttton>
 -->				          	
 <md-menu md-offset="0 -7">
	          						
	          				<md-button  class="md-icon-button"   ng-click="$mdMenu.open($event)" >
	          			
	          					 <md-icon md-svg-icon="images/icons/more.svg"> </md-icon>
	          					 <md-tooltip md-direction="bottom"> more </md-tooltip>
	          					 
									
							</md-button>
	         						
	         				<md-menu-content>
	           					    	
	           					<md-menu-item >
	            			 	
	            			 		<md-button ng-click=""> Add label  </md-button><br>
	   
	            				</md-menu-item>
	           			  
	           			    	<!-- <md-menu-item >
	         					
	         						<md-button> Add label </md-button>
	         						
	         					</md-menu-item> -->
	         		     
	         		     	</md-menu-content>
	       						
	       			 </md-menu>	    
	       			  
 <md-button  class="md-raised" ng-click="addNote()" style="width:30px">Done</md-button>
	          </p>
        </md-card-actions>
      </md-card>
   </div>
	
 
  <br>	
	<!-- 		=========================Pinned============================================= 
 -->
	<div>
		<h4>Pinned</h4>
	<div layout="row" layout-wrap flex id="sortable">
	
 <div ng-repeat="note in notes | filter:{pinned:true,trash:false,archive:false}" ng-mouseover="mouse=true" ng-mouseleave="mouse=false"  id="note-scope" flex="30">
	
	<md-card class="card" id="float" ng-style="{'background-color' : note.color}" >
	        <md-card-title>
		          <md-card-title-text ng-click="updateNote(note,$event)">
		          <br>
		          <br>
		           	<div >
		            	<div ng-bind-html="note.title"  id="title" style="word-break: break-all;border:0px;outline:0px">{{note.title}}</div>
		            </div>
		            <br>
		            <div>
		            	<div ng-bind-html="note.content"  id="body" style="word-break: break-all;border:0px;outline:0px">{{note.content}}</div>
		            
		            </div>
		           
		          </md-card-title-text>
		          <div role="button">
		          	<img ng-src="images/icons/unpin.svg" ng-show="mouse" style="width:21px;margin-top:-14px;float:right;" ng-click="pinnedNote(note,false)"/>
		          	
		          </div>
		     
	        </md-card-title>
	     	<p ng-if="note.reminder" style="font-size:10px;padding:8px">Reminder : {{note.reminder | date:'medium'}}
	     		<md-button style="min-width:25px;padding:5px">
		       		<md-icon md-svg-src="images/icons/cancel.svg" ng-show="mouse" ng-click="cancelReminder(note)" style="width:21px"></md-icon>
		       		<md-tooltip md-direction="bottom"> cancel reminder</md-tooltip>	       		
		       				
	        	</md-button>
		     </p>	 
	        <md-card-actions>
	        
	        <md-panel>
		      <p id="buttonDiv" class="icon">
		       	 <md-menu>
	       			 <md-button style="min-width:25px;padding:5px" ng-show="mouse" ng-click="$mdMenu.open($event)">
							<md-icon md-svg-icon="images/icons/reminder.svg"></md-icon>
	       					<md-tooltip md-direction="bottom">reminder</md-tooltip>	       		
	       			 </md-button>
			              <!-- <md-menu-content>
			                <md-menu-item>
			                  <md-button ng-click="">Later Today 20:00</md-button>
			                </md-menu-item>
			                <md-menu-item>
			                  <md-button ng-click="">Tomorrow 8:00</md-button>
			                </md-menu-item>
			                <md-menu-item>
			                  <md-button ng-click="">Pick Date and Time</md-button>
			                </md-menu-item>
			              </md-menu-content> -->
			               <md-menu-content>
			                <button class="md-raised md-primary md-button md-ink-ripple" type="button"=""
							ng-click="displayDialog(note)">Date Picker</button>
			              </md-menu-content>
			       </md-menu>
	        			
	        			<md-button style="min-width:25px;padding:5px">
		       				<md-icon md-svg-src="images/icons/share.svg" ng-show="mouse" ng-click="" style="width:21px"></md-icon>
	        			    <md-tooltip md-direction="bottom">share</md-tooltip>	       		
	        				
	        			</md-button>
	        			<color-picker ng-show="mouse" style="border:none;display:inline-block;vertical-align:middle; padding:5px" value ="cardColor" color="color" options="colors" on-color-changed="colorChanged(newColor, oldColor,note)"></color-picker>	 

	        			<md-button style="min-width:25px;padding:5px" ng-show="mouse" ng-click="archiveNote(note,true)">
	        				<md-icon md-svg-src="images/icons/archive.svg" aria-lable="archive note"></md-icon>
	        			    <md-tooltip md-direction="bottom"> archive </md-tooltip>	       		
	        				
	        			</md-button>
			             
				        <md-menu md-offset="0 -7">
	          						
	          				<md-button  class="md-icon-button"  ng-show="mouse" ng-click="$mdMenu.open($event)" >
	          			
	          					 <md-icon md-svg-icon="images/icons/more.svg"> </md-icon>
	          					 <md-tooltip md-direction="bottom"> more </md-tooltip>	       		
	          					 
									
							</md-button>
	         						
	         				<md-menu-content>
	           					    	
	           					<md-menu-item >
	            			 	
	            			 		<md-button ng-click="deleteNote(note)"> Delete note  </md-button><br>
	   
	            				</md-menu-item>
	           			  
	           			    	<md-menu-item >
	         					
	         						<md-button> Add label </md-button>
	         						
	         					</md-menu-item>
	         		     
	         		     	</md-menu-content>
	       						
	       			 </md-menu>	     
		          </p>
		          </md-panel>
	        	</md-card-actions>
     		
     		</md-card>
         </div>
	</div>
		
	</div>	
		<!-- ---------------------------Display all notes-------------------------->

<div>       
<h4>Others</h4><br>

	<div  layout="row" layout-wrap flex id="sortable">
      
       <div ng-repeat="note in notes | filter:{trash:false,archive:false,pinned:false}" flex="{{ notesView==='list' ? 90 : 30}}" ng-mouseover="mouse=true" ng-mouseleave="mouse=false">
	 	
	 	  <md-card flex ng-mouseover="x=true" ng-mouseleave="x=false" ng-style="{'background-color' : note.color}">
			
			 <md-card-title style="background-color:weight">
			 
			 	 <md-card-title-text  ng-click="updateNote(note,$event)"> <br><br>
				 
			        <div>
			          	<div ng-bind-html="note.title" id="title"  style="word-break: break-all;border:0px;outline:0px">{{note.title}}</div>
			        </div>
		            <br>
		            <div>
		            	<div ng-bind-html="note.content"  id="body"   style="word-break: break-all;border:0px;outline:0px">{{note.content}}</div>
		            </div>
			
				</md-card-title-text>
				<div role="button">	<md-icon id="lastDiv"  ng-show="mouse" md-svg-icon="images/icons/pin.svg" style="width:21px;float:right" ng-click="pinnedNote(note,true)"></md-icon></div> 
			</md-card-title>
				     	<p ng-if="note.reminder" style="font-size:10px;padding:8px">Reminder : {{note.reminder | date:'medium'}} 
				     	<md-button style="min-width:25px;padding:5px">
		       				<md-icon md-svg-src="images/icons/cancel.svg" ng-show="mouse" ng-click="cancelReminder(note)" style="width:21px"></md-icon>
		       				<md-tooltip md-direction="bottom"> cancel reminder</md-tooltip>	       		
		       				
	        			</md-button></p>
						
			<md-card-actions>	       	 
	       		
	       	 <md-panel>
		      <p id="buttonDiv" class="icon">
		       	 <md-button style="min-width:25px">	</md-button>
		       	 <md-menu>
	       			 <md-button style="min-width:25px;padding:5px" ng-show="mouse" ng-click="$mdMenu.open($event)">
							<md-icon md-svg-icon="images/icons/reminder.svg"></md-icon>
	       					<md-tooltip md-direction="bottom">reminder</md-tooltip>
	       			</md-button>
			              <!-- <md-menu-content>
			                <md-menu-item>
			                  <md-button ng-click="">Later Today 20:00</md-button>
			                </md-menu-item>
			                <md-menu-item>
			                  <md-button ng-click="">Tomorrow 8:00</md-button>
			                </md-menu-item>
			                <md-menu-item>
			                  <md-button ng-click="">Pick Date and Time</md-button>
			                </md-menu-item>
			              </md-menu-content> -->
			               <md-menu-content>
			                <button class="md-raised md-primary md-button md-ink-ripple" type="button"
							ng-click="displayDialog(note)">Date Picker</button>
			              </md-menu-content>
			       </md-menu>
	        			
        			<md-button style="min-width:25px;padding:5px" ng-click="collaborator(note, $event)"  ng-show="mouse">
		       				<md-icon md-svg-src="images/icons/share.svg" ng-show="mouse" style="width:21px"></md-icon>
		       				<md-tooltip md-direction="bottom"> share </md-tooltip>	       		
		       				
	        			</md-button>
	        			<!-- <md-button style="min-width:25px;padding:5px">
		       				<md-icon md-svg-src="images/icons/colorpicker.svg" ng-show="mouse" ng-click="" style="width:21px"></md-icon>
	        			</md-button> -->
	        			<md-button style="min-width:25px;padding:5px" ng-show="mouse" ng-click="archiveNote(note,true)">
	        				<md-icon md-svg-src="images/icons/archive.svg" aria-lable="archive note"></md-icon>
	        			    <md-tooltip md-direction="bottom"> archive </md-tooltip>	       		
	        				
	        			</md-button>
	        			<color-picker ng-show="mouse" style="border:none;display:inline-block;vertical-align:middle; padding:5px" value ="cardColor" color="color" options="colors" on-color-changed="colorChanged(newColor, oldColor,note)"></color-picker>	 
	        			
			          <md-menu md-offset="0 -7">
          						
          			<md-button  class="md-icon-button" ng-show="mouse" ng-click="$mdMenu.open($event)" >
          			
          				 <md-icon md-svg-icon="images/icons/more.svg"> </md-icon>
						 <md-tooltip md-direction="bottom"> more </md-tooltip>	       		
						 
						</md-button>
         						
         			<md-menu-content>
           					    	
           				<md-menu-item >
            			 	
            			 	<md-button ng-click="deleteNote(note)"> Delete note  </md-button><br>
   
            			</md-menu-item>
           			  
           			    <md-menu-item >
         					
         					<md-button> Add label </md-button>
         						
         				</md-menu-item>
         		     </md-menu-content>
       						
       			 </md-menu>			           
		       <!--    <md-menu>
                 <md-button style="min-width:30px;" ng-show="mouse" ng-click="$mdMenu.open($event)">
                  <md-icon md-svg-src="images/icons/colorpicker.svg"></md-icon>
                </md-button> 
               <color-picker class ="colorIcon" value ="cardColor" color="color" options="colors" on-color-changed="noteColor(newColor, oldColor)"></color-picker>	 
                
                <md-menu-content style="width: 154px; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; min-height: 146px;">
                  
                  <md-menu-item>
					 <div style="padding-left: 0px; padding-right: 0px;">
                      <md-button style=" width: 35px; height: 2px;background-color:{{color}};" class="md-fab md-mini md-primary" ng-repeat="color in colors" ng-click="updateNoteColor(note,color)">
                      </md-button>
                    </div> 	  
                  </md-menu-item>
                </md-menu-content> 
                
              </md-menu>
		 			 -->

				          	
	</p>
		          </md-panel>
        </md-card-actions>
       </md-card>
	</div>
  </div>
</div>

