<div layout="row" layout-align="center center" >

<md-content layout-padding="layout-padding" > 
	<md-card style="width:300px" >
		<md-content-card class="md-padding" layout-xs="column" layout="row" >

			<div flex-xs flex-gt-xs="50" layout="column" layout-align="center" style="width:225px">
				<md-card-content style="text-align: center;">

					<h2>Sign in</h2>
					<h4>to continue to My App</h4>

				</md-card-content>
				
				<form class="form-signin">

					<div>

						<md-input-container> 
							<label>Email</label> 
							<input ng-model="user.email" required>
						 </md-input-container>
					</div>

					<div>

						<md-input-container> 
							<label> password </label> 
							<input type="password" ng-model="user.password" name="password" required>
						</md-input-container>
					</div>

					<div>
						<span>
							<md-button class="md-raised md-primary" type="submit" ng-click="logInUser()"> LogIn </md-button> 
							<md-button class="md-raised md-primary" ui-sref="signup">Register</md-button>
						</span>
					</div>

				</form>
			<md-button class="md-raised md-warn" ng-href="logInWithGoogle">Google</md-button>
			<md-button class="md-raised md-warn" ng-href="logInWithFaceBook">Facebook</md-button>
			<a ui-sref="forgotPassword" >forgot password</a>
			</div>
		</md-content-card> 
	</md-card> 
</md-content>
</div>