<div layout="row" layout-align="center center" >

<md-content layout-padding="layout-padding"> 
	<md-card style="width:350px;height:600px">
		<md-content-card class="md-padding" layout-xs="column" layout="row">

			<div flex-xs flex-gt-xs="50" layout="column" layout-align="center">
				<md-input-container> 
								     		
						<label>password</label>
						<input ng-model="user.password" required ><br>
							  
							  </md-input-container><br>
							  							
								<md-input-container> 
								     		
					
									<label>confirm password</label>
									<input  type="password" ng-model ="user.confirmPassword"  required ><br>
								
								</md-input-container><br>
					<md-button class="md-raised md-primary" type="submit" ng-click="()"> submit </md-button>
				
			</div>
		</md-content-card> 
	</md-card> 
</md-content>
</div>			