<div layout="column" ng-cloak ">

  <section layout="row" flex>

<md-sidenav class="md-sidenav-left" style="margin-top: 64px" md-component-id="left"  md-disable-backdrop md-whiteframe="4">
<md-list >
      <md-list-item ui-sref="home">
        
        Notes
   
      </md-list-item>
      <md-list-item  ui-sref="archiveNotes">
   
          Archives
        
      </md-list-item>
      <md-list-item>
      
          Reminders
        
      </md-list-item>
      
      <md-list-item >
       
          Labels
   
     
      </md-list-item>
      <md-list-item  ui-sref="trashNotes">
            Trash
        
      </md-list-item>
      
    </md-list>
  </md-content>
</md-sidenav>
</section>
</div>