<div layout="row" layout-align="center center" >
<md-card  style="width:400px"  >
	<md-content-card class="md-padding" layout-xs="column" layout="row">
	
		<div >
		
					<form  class="form-signup">
						
							<md-input-container> 
								     		
											<label>User Name</label>
											<input ng-model="user.name" required><br>
							</md-input-container><br>
																							
							<md-input-container> 
								     		
									<label>Email Id</label>
									<input ng-model="user.email" required ><br>
							  
							  </md-input-container><br>
							  							
								<md-input-container> 
								     		
					
									<label>Password</label>
									<input  type="password" ng-model ="user.password"  required ><br>
								
								</md-input-container><br>
				
							
								<md-input-container> 
								     		
									<label>Confirm Password</label>
									<input  type="password"  ng-model ="user.confirmPassword"  required><br>
								
								</md-input-container><br>
							
								<md-input-container> 
								     		
									<label>Mobile Number</label>
									<input ng-model="user.mobileNumber" required><br>
							 
							   </md-input-container><br>
						
							
								<md-button type="submit" id="button" class="md-raised" ng-click="registeringUser()">submit</md-button>				
					</form>
		</div>
	</md-content-card>
</md-card>
</div>