  <md-content>
    <md-toolbar class="md-hue-2" style="background-color:#fb0">
      <div class="md-toolbar-tools" >
        <md-button class="md-icon-button" aria-label="Settings" ng-click="toggleLeft()" style="color: black" >
         &#9776;
        </md-button>&nbsp;
      <div style="padding:10px">  
      	<h2 md-truncate  style="weight:80px;color:black">Google Keep</h2>
  	  </div>
  	   <md-buttton>
   				  
   				   <md-icon md-svg-icon="images/icons/search.svg"></md-icon>   		
   		</md-buttton>
	  <div hide-xs flex>
	   <div flex-gt-sm="85" >
			<md-autocomplete flex="50"
		         
		          md-no-cache=""	
		          md-selected-item=""
		          md-search-text-change=""
		          md-search-text=""
		          md-selected-item-change=""
		          md-items=""
		          md-item-text=""
		          md-min-length="0"
		          padding:20px;
		          placeholder="Search">
		      </md-autocomplete>
	  </div> 
	</div>
	        
	  
	 </div>
     
    </md-toolbar>
    </md-content>
