
    <md-toolbar class="md-hue-2" style="background-color:#fb0">
      <div class="md-toolbar-tools" >
        <md-button class="md-icon-button" aria-label="Settings" ng-click="toggleLeft()" style="color: black" >
         &#9776;
        </md-button>&nbsp;
         <span style="color: black"> Google Keep</span>
         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
         
          <md-input-container md-theme="input" flex style="top:20px;left:50px;right:100px">
     		 &#8981;
      		<input placeholder="&#8981;  &nbsp;&nbsp;&nbsp; enter search" aria-label="Search"/>
    </md-input-container>
         
      </div>
    </md-toolbar>
