  <md-content>
    <md-toolbar class="md-hue-2" style="background-color:#fb0">
      <div class="md-toolbar-tools" >
        <md-button class="md-icon-button" aria-label="Settings" ng-click="toggleLeft()" style="color: black" >
         &#9776;
        </md-button>&nbsp;
     
          <md-truncate style=" color: black;position: absolute; left: 90px; right: 170px; top: 17px; bottom: 13px;">Fundo Keep</md-truncate>
            	<div>
            		<form action="get">
            	
            			<md-button class="md-icon-button" aria-label="Settings"  style="left: 190px ;right:400px">
		        			<md-icon md-svg-icon="images/icons/search.svg"></md-icon>
		        		<md-button>
          <div ng-model="user.content" ng-focus="myVar=true" contenteditable="true" contenteditabledata aria-multiline="true" role="textbox" style="background-color: rgb(250, 250, 250); outline:none" data-placeholder="Take a note"></div>
            	</form>
            	</div>	
 			
		 		

						<!-- <md-input-container> 
							<input style=" text-align: center;" >
						 </md-input-container> -->
      </div>
    </md-toolbar>
    </md-content>
